:root {
  --main-text-color: rgb(52, 49, 49);
  --second-text-color: rgb(202, 202, 202);
  --font-look: 'Courier New', Courier, monospace;
  --border-test: 3px red solid;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

@media screen and (min-width: 0px) {
  * {
  margin: 0;
  padding: 0;
  font: inherit;
}
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/***********************LANDING****************************************/
html, body {
  margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
}
article, aside, details, div, dt, figcaption, footer, form, header, hgroup, html, main, nav, section, summary {
  display: block;
}
address, article, aside, blockquote, body, caption, center, col, colgroup, dd, dir, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, legend, li, listing, main, marquee, menu, nav, noframes, ol, p, plaintext, pre, section, summary, table, tbody, td, tfoot, th, thead, tr, ul, xmp {
  unicode-bidi: isolate;
}
@media screen and (min-width: 0px) {
  body {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
/************************NAVIGATION*******************************************/
.header a {
  color: #000;
}

/* header */

.header {
  box-shadow: 3px 3px 7px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #9E9E9E;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #9E9E9E;
}

.header li a {
  display: flex;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  justify-content: center;
}

.header li a:hover {
  text-decoration: underline 1.5px rgb(18, 125, 36);
  text-decoration-style: solid;
  background-color: #9E9E9E;
  -webkit-box-shadow: 0px 4px 13px 2px rgb(0 0 0 / 5%);
    box-shadow: 0px 4px 13px 2px rgb(0 0 0 / 5%);
}

.header .menu-btn:hover {
  background-color: #313131;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .nav-menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .nav-menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Tablet */

@media (min-width: 48em) {
  .header {
    background-color: #333;
    margin: 0;
    position: fixed;
    z-index: 1000;
  }
  .header ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
  .header li {
    float: left;
    background-color: #333;
  }
  .header li a {
    background: #333;
    display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  border: 0;
  width: 100%;
  }
  .header .nav-menu {
    clear: none;
    float: right;
    max-height: none;
    background-color: #333;
  }
  .header .menu-icon {
    display: none;
    background-color: #333;
  }
  .header li a:hover {
    background-color: rgba(41, 116, 41, 0.551);
  }
}

/***Tablet ***/
@media only screen and (min-width: 768px) and (max-width: 960px) {

  .header li a {
    background: #333;
    display: block;
  color: white;
  text-align: center;
  padding: 14px 23px;
  text-decoration: none;
  border: 0;
  width: 100%;
  }
}

/*** Desktop ***/
@media only screen and (min-width: 960px) and (max-width: 1200px) {

  .header li a {
    background: #333;
    display: block;
  color: white;
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
  border: 0;
  width: 100%;
  }
}
/*** Large Desktop ***/
@media only screen and (min-width: 1350px) and (max-width: 1920px) {

  .header li a {
    background: #333;
    display: block;
  color: white;
  text-align: center;
  padding: 17px 65px;
  text-decoration: none;
  border: 0;
  width: 100%;
  }
}

/************************LANDING*******************************************/
section {
  padding: 50px 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
  padding: 0 10px;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 450px;
}
#hero {
  height: auto;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
position: relative;
padding-top: 50px;
padding-bottom: 250px;
}
.heroText {
  max-width: 400px;
margin: 00px auto auto;
}
.hero-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:auto;
}
.hero-logo {
  Filter: drop-shadow(3px 0px 0 black) drop-shadow(0px 3px 0 black) drop-shadow(-3px -0px 0 black) drop-shadow(-0px -3px 0 black);
  margin-bottom: 0;
  }
  #home-h {
    display: block;
    text-align: center;
  font-size: 2em;
  line-height: 1em;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
    -webkit-text-stroke: 1.5px black;
  position: relative;
  bottom: 100px;
  }

  .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .button1 {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    top: 135px;
  }
  
  .button1 span{
    position: relative;
    z-index: 2;
  }
  
  .button1:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #3d863a;
    transition: all .35s;
  }
  
  .button1:hover{
    color: #fff;
  }
  
  .button1:hover:after{
    width: 100%;
  }
.flowers-white-display {
  position: absolute;
  width: 100%;
  bottom: -250px;
  left: 0;
  z-index: 2;
  pointer-events: none;
}


/****************************************ABOUT**************************************************************/
.container-container2 {
  padding: 0 10px;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 450px;

}
.about-section h2 {
  text-transform: uppercase;
color: #222;
text-align: center;
font-size: 30px;
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-bottom: 45px;
}
.about-section p {
  position: relative;
  font-size: 16px;
line-height: 1.5em;
text-align: center;
margin: auto auto 75px;
max-width: 500px;
bottom: 25px;
}
.button2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
}
.button2-about {
  position: relative;
  right: 1px;
  bottom: 75px;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #1f7f2f;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgba(7, 61, 8, 0.39);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
  text-decoration: none;
  }

.about-section a:hover{
  background: rgba(95, 202, 102, 0.9);
  box-shadow: 0 6px 20px rgba(38, 255, 0, 0.581);
  text-decoration: none;
}
/****************************************PORTFOLIO*********************************************************************/
.container-container3 {
  padding: 0 10px;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 450px;
}
.portfolio-section h2 {
  display: block;
  text-align: center;
  text-transform: uppercase;
color: #222;
text-align: center;
font-size: 30px;
position: relative;
bottom: 30px;
margin-bottom: 40px;
}
.image-gallery-container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.card1, .card2, .card3, .card4 {
  box-shadow: 0 9px 15px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
  text-align: center;
}
.portfolio-section img {
  border-radius: 5px 5px 0 0;
  width: 200px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
/**************************SERVICES********************************************/
#services {
  padding-bottom: 100px;
}
.container-container4 {
  padding: 0 10px;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 450px;
}
.gardener-working {
  display: block;
  height: auto;
  width: auto;
  border: 3px rgb(46, 93, 46) solid;
  border-radius: 30% 70% 70% 30% / 30% 47% 53% 70%;
  -webkit-box-shadow: 0px 4px 13px 2px rgba(0, 255, 17, 0.55);
    box-shadow: 0px 4px 13px 2px rgb(0 0 0 / 55%);
    top: 20px;
    position: relative;
}
.services-section h2::before {
  content: "";
  position: absolute;
  display: block;
  height: 100px;
  width: 270px;
  background: url(leaf-for-background.png);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .25;
}
.services-section h2 {
  text-transform: uppercase;
color: #222;
text-align: center;
font-size: 30px;
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-bottom: 45px;
top: 85px;
}
.services-section ul {
  display: block;
  column-count: 2;
max-width: 350px;
margin: auto auto 90px;
position: relative;
left: 5px;
top: 85px;
}
.services-section li {
  display: block;
  position: relative;
  font-family: Oswald,sans-serif;
font-weight: 700;
font-size: 12px;
list-style: none;
text-transform: uppercase;
margin-bottom: 0;
position: relative;
padding-bottom: 2px;
list-style-image: url('plant-png.png');
display: list-item;
}






@media only screen and (min-width: 700px) {

  .services-section h2 {
    text-transform: uppercase;
  color: #222;
  text-align: center;
  font-size: 35px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 45px;
  top: 85px;
  }

  .services-section ul {
    display: block;
    column-count: 2;
  max-width: 900px;
  margin: auto auto 90px;
  position: relative;
  left: 30px;
  top: 85px;
  }
  .services-section li {
    display: block;
    position: relative;
    font-family: Oswald,sans-serif;
  font-weight: 600;
  font-size: 15px;
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 2px;
  list-style-image: url('plant-png.png');
  display: list-item;
  }
}

/************************************REVIEWS******************************************************/
.container-container5 {
  padding: 0 10px;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 450px;
}
#reviews {
  background: url(leavesbackground05.jpg);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: relative;
z-index: 1;
overflow: hidden;
text-align: center;
}
#reviews::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: #222;
  opacity: .8;
  top: 0;
  left: 0;
  z-index: -1;
}
.reviews-section h2 {
  color: #fff;
text-transform: uppercase;
font-size: 30px;
width: 250px;
margin: auto auto 30px;
}
.reviews-section p {
  font-size: 16px;
line-height: 1.5em;
color: #fff;
margin: auto auto 30px;
max-width: 400px;
}





@media only screen and (min-width: 820px) {
  .reviews-section h2 {
    color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  width: 250px;
  margin: auto auto 30px;
  }
  .reviews-section p {
    font-size: 20px;
  line-height: 1.5em;
  color: #fff;
  margin: auto auto 30px;
  max-width: 500px;
  }
}


/****************************************FINAL***********************************************************/
#final {
  background-image: linear-gradient(to right top, #ececec, #f1f1f1, #f5f5f5, #fafafa, #ffffff);
}
.container-container6 {
  padding: 0 10px;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 450px;
}
#final img {
  border-radius: 15% 85% 23% 77% / 74% 29% 71% 26%;
}
.final-section h2 {
  text-transform: uppercase;
color: #222;
text-align: center;
font-size: 35px;
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-top: 65px;
}
.final-section p {
  font-size: 16px;
line-height: 1.5em;
text-align: center;
margin: auto auto 75px;
max-width: 500px;
margin-top: 20px;
}
#image-gallery2 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;
  justify-content: center;
}
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border: 2.5px black solid;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/***********************FOOTER*********************************/
#footer {
padding-bottom: 100px;
background-image: linear-gradient(to right top, #ececec, #f1f1f1, #f5f5f5, #fafafa, #ffffff);
}
.container-container7 {
  padding: 0 10px;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 900px;
}
.footer-paragraph-container {
  background-image: url(leavestexture01.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
padding: 50px 10px;
position: relative;
overflow: hidden;
z-index: 1;
margin-bottom: 100px;
-webkit-box-shadow: 0px 4px 13px 2px rgb(0 0 0 / 55%);
    box-shadow: 0px 4px 13px 2px rgb(0 0 0 / 55%);
    padding-bottom: 100px;
    border-radius: 3%;
}
#footer .footer-paragraph-container h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
  text-decoration: underline 2px rgba(123, 123, 123, 0.733);
  text-decoration-style: dashed;
}
.footer-box {
  position: relative;
  top: 100px;
}
#footer .footer-paragraph-container p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: auto auto 25px;
  max-width: 330px;
  margin-bottom: 20px;
}
.wrapper2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper2 a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  background-color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  position: relative;
  top: 70px;
}
.button-solid:hover {
  color: rgb(220, 220, 220);
  background-color: rgb(32, 104, 32);
  border: none;
  -webkit-box-shadow: 0px 4px 13px 2px rgb(0 0 0 / 55%);
    box-shadow: 0px 4px 13px 2px rgb(0 0 0 / 15%);
}
.button-solid::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #3d863a;
    transition: all .35s;
  }
